<style>
.container{width:100%;margin:auto}
@media (min-width:600px) {.container{width: 80%;}}
@media (min-width:768px) {.container{width: 60%;}}
@media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Welcome to Singapore, NTU</h1>
<p><img src="https://media.istockphoto.com/id/1369652747/photo/night-view-of-chongqing-riverside-at-night.jpg?s=2048x2048&w=is&k=20&c=wE1kIA1pJAUibFUdwZ4ltnZvW07EyLcA396n5QVxZYY="
  width="300" height="200"></p>
<form action="/main" method="post">
  <h2>My name is Ah Bao, may I know your name : </h2>
  <input type = "text" name="r" style="width:100px;height:50px">
  <p><input type = "submit" value="Enter" style="width:100px;height:50px"></p>
</form>
</div>
